<% include partials/head %>
<body class="workout-page">
    <div class="workout-title-div">
        <h1 class="workout-title"><%=name %></h1>
    </div>
    <div class="workout-stats">
        <div>
            <h6>Workouts Reps: <%=reps%></h6>
        </div>
        <div>
            <h6>Workouts Sets: <%=sets%></h6>
        </div>
    </div>
     <button class="mdl-button mdl-js-button mdl-button--raised app-button loginbutton"><a href=<%="/edit/"+name%>>Edit</a></button>
     <button class="mdl-button mdl-js-button mdl-button--raised app-button loginbutton"><a href=<%="/delete/"+name%>>Edit</a></button>
</body>

<% include partials/footer %>