<% include ../partials/head %>

  <body class="all-workouts-container">
  
  <% for(var i=0; i<workoutList.length; i++) {%>
  <ul>
   <a href=<%="/workout/" + workoutList[i].name%>><h4 class="workout-title"><%= workoutList[i].name %></h4></a>
   <li><%= workoutList[i].equipment %></li>
   <li><%= workoutList[i].bodyParts %></li>
   </ul>
  <% } %>
  <a href='/workout/create' class="add-workout">Add New Workout</a>
        <% if(message) { %>
          <div class="error-div"> 
          <%=message %>
          </div>
       <% } %>
  </body>
  </html>