<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <link rel='stylesheet' href='/stylesheets/mobile.css' media="(max-width: 650px)" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="all-workouts-container">
  
  <% for(var i=0; i<workoutList.length; i++) {%>
  <ul>
   <a href=<%="/workout/" + workoutList[i].name%>><h4 class="workout-title"><%= workoutList[i].name %></h4></a>
   <li><%= workoutList[i].equipment %></li>
   <li><%= workoutList[i].bodyParts %></li>
   </ul>
  <% } %>
  <a href='/workout/create' class="add-workout">Add New Workout</a>
        <% if(message) { %>
          <div class="error-div"> 
          <%=message %>
          </div>
       <% } %>
  </body>
</html>